<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Find out your Super Hero!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--JQuery 3.3.1 Version-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Bootstrap CDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Input Masks-->
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js></script>
    
    <script src=https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js></script>

    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />

</head>
<body background>
    <h1>Find your Super Hero!</h1>

    <div class="panel panel-primary">
    <div class="panel-heading">Enter your phone number to receive a text</div>
    <div class="panel-body">
        <form action="">
            <div class="wrapper">Phone: 
                <input id="phone" type="text" maxlength="15" placeholder="999-999-9999" />
            </div>
            <div class="wrapper">
                <button class="btn btn-primary" style="margin-left:auto; margin-right: auto;">Send me a text!</button>
            </div>
        </form>
    </div>
    </div>

    <script type="text/javascript" src="js/index.js"></script>
    <!-- <script type="text/javascript" src="/inputmask.js"></script> -->

</body>
</html>